
body{

	  background-image: linear-gradient( to bottom right, #173266,#24B9B2);
	  background-attachment: fixed;
	  overflow-x: hidden;
	  overflow-y: scroll; 
}

a{
  text-decoration: none;
  color:white;
}

.para{
	z-index: -2;
	position: relative;bottom:-300px; left: 0px;
	padding:20px; 
	margin-left: 300px;
	font-family: Cambay, Helvetica, sans-serif;
	font-size: 20px;
	border: 1px solid white; width: 600px;
    border-radius: 1%;
    color: #173266;
    background-color: white;
    margin-bottom: 40px;
}

.para1{
	z-index: -2;
	padding:10px; 
	font-family: Cambay, Helvetica, sans-serif;
	font-size: 16px;
	background-color: white;
	border: 1px solid white; width: 30%;
	border-left: 15px solid #173266;
    color: #173266;
    border-radius: 10px;
}

.para2{
	z-index: -2;
	font-family: Cambay, Helvetica, sans-serif;
	font-size: 25px;
	background-color: white;
	border: 1px solid white; width: 15%;height:5%;
	border-right:5px solid #173266;
	border-bottom:2px solid #173266;
    color: #173266;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
    border-radius: 20px;
	box-shadow: 0px 10px 20px black;
}


.button{
	padding:20px; 
	font-family: Cambay, Helvetica, sans-serif;
	font-size: 20px;
	border: 1px solid white; width: 5%;
    border-radius: 1%;
    color: white;
    background-color:#173266 ;
    margin-bottom: 40px;
}

.head{
	z-index: -2;
	position: relative; bottom:-280px; left: 300px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
	color:white;
	
}

.list{
	position:fixed;top:260px; left: 0px; 
	padding:40px 25px 40px 25px;
	margin:20px;
	font-family:Helvetica, sans-serif;
	border: 1px solid #24B9B2; width: 150px; 
	border-radius: 9px;
	background-color: #24B9B2;
	color:white;
	font-size: 30px;
	box-shadow: 0px 1px 20px black;
	opacity:0.9;
}

.select:hover{
	background-color:white;
	color:#24B9B2;
	font-size: 30px;
	opacity:1;
	transition: .3s;
	border-radius: 7px;

}

.select:active{
	border-radius: 25px;
	transition: .5s;
	font-size: 29px;
}

.icon:hover{

	transform: rotateY(180deg);
	transition: transform 1s;
    /*transform-style: preserve-3d;*/
    backface-visibility: hidden;
    z-index: -1;
}

.icon1{
	box-shadow: 0px 5px 20px black;
	border-radius: 50%;
	cursor:pointer;
} 

.icon1:hover{
	transform: rotate(45deg);
	transition: transform 1s;

}

.icon1:active{
	transform: rotate(0deg);
	transition: .2s;
}

.ticon{
	font-weight: bold;
	background-color:#24B9B2; 
	color:white; 
	border-radius: 50%;
	font-size: 30px;
	font-family: cambay;
	text-shadow: 5px 5px 10px black;
	box-shadow: 0px 30px 50px black;
}


.flipbox{
  z-index: -2;
  position:fixed;left:860px;top:120px; 
  width: 600px;
  height: 100%;
  perspective: 1000px;
}

.flipbox-inner{
  position: fixed;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flipbox:hover .flipbox-inner{
  transform: rotateY(180deg);
}

.fbfront, .fbback {
  position: fixed;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.fbfront {
  width: 400px;
  height: 100%;
  background-image: linear-gradient( to bottom right, #173266,black);
  color:white;
  text-align: center;
  padding: 110px;
  font-size: 60px;
  font-family: cambay;
  font-weight: bold;
}

.fbback {
  top:-12px;
  transform: rotateY(180deg);
  right:-20px;
}

.sidenav {
  height: 200%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  right:0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border-left:2px solid #24B9B2;
  background-image: linear-gradient( to bottom right, #173266,black);
  opacity: 0.9;
}

.sidenav a {
  padding: 13px 13px 13px 50px;
  text-decoration: none;
  font-size: 30px;
  color: lightgrey;
  display: block;
  transition: 0.3s;
  font-family: cambay;
}

.sidenav a:hover {
  color: #24B9B2;
}

.sidenav a:active{
	font-size: 28px;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left:200px;
  font-size: 50px;
  margin-left: 50px;
}

.newevent{
	position: fixed;
	top:42px;
	right:110px; 
	font-size:25px;
	cursor:pointer; 
	z-index: 2; 
	color:#173266; 
	font-family: cambay;
	font-weight:bold;
}

.newevent:active{
	color:#24B9B2;
}

.newevent:hover{
	font-size: 23px;
	transition: 0.3s;
}

.input{
	visibility:hidden;
	position: fixed;
	top:144px;
	right:-500px;	
	font-size:15px;
	background-color: white;
	color:#173266;
	padding:0px;
	width:0px;
	height:0px;
	border-radius: 5px; 
}

.submit{
	visibility:hidden;
	position: fixed;
	top:145px;
	right:-500px;	
	width:0px;
	height:0px;
	font-size: 20px; 
	text-align: center;
	font-family: cambay;
	background-color:#173266;
	color: white;
	border-radius: 5px;
	cursor: pointer;
}

.submit:active{
	width:78px;
	height:36px;
	background-color:#24B9B2;
}

.mailclose{
	visibility:hidden;
	position: fixed;
	top:125px;
	right:-500px;
	font-size: 25px;
	color:white;
	cursor: pointer;
	font-weight: bold;
}

.mailclose:active{
	color:red;
	font-size: 20px;
}

.confirm{
	z-index: -1;
	position: fixed;
	width:100%;
	height:30px;
	top: 20px; 
	left:0px;
	padding: 1px;
	padding-top: 15px;
	background-color:#24B9B2;
	color: white;
	font-family:cambay;
	text-align: center;
	cursor: pointer;
}

.notification{
	z-index: 2;
	position: fixed;
	width:0px;
	height:0px; 
	right:-400px;
	padding:0px;
	padding-top:0px;
	background-color:white;
	color:#173266;
	font-family:cambay;
	font-size: 0px;
	font-weight:bold;
	text-align: center;
	cursor: pointer;
	box-shadow: 0px 1px 20px black; 
	border-radius: 9px;
	text-align: left; 
}

.notification:hover{
	background-image: linear-gradient( to bottom right, #173266,black);
	opacity: 0.9;
}
.popupclose{
	position: fixed;
	right:-400px;
	font-size: 25px;
	color:white;
	cursor: pointer;
	font-weight: bold;	
}

.opennav{
	position: fixed;
	top:35px;
	right: 45px; 
	font-size:35px;
	cursor:pointer; 
	z-index: 2; 
	color:#173266; 
	font-family: cambay;
}

.opennav:active{
	color:#24B9B2;
	transform: rotate(-45deg);
	transition: .2s;	
}

.footer{
     position:absolute; 
     background-image: linear-gradient( to bottom right, #173266,black); 
     width:200%; height:70px; 
     bottom:-470px; left: -8px;
     opacity: 1; 
     box-shadow:2px 2px 20px black; 

}

.footerNav{
	position: absolute;
	bottom: -452px; left: 460px;
	font-family: cambay;
}

.footerNav a{
	margin-left: 20px;
}

.footerNav a:active{
	font-size:13px;
}

.address{
	position:fixed;
	top:200px;left:880px;
	height:350px; width:300px;
	background-image: linear-gradient( to bottom right, #173266,black);
	color:white;
	padding: 20px;
	padding-left: 45px;
	padding-right: 25px;
	font-size: 23px;
	font-family: cambay;
	border-radius: 10px;
	box-shadow: 0px 1px 20px black;
}

.social{
	position:fixed;
	bottom:60px;left:880px;
	height:50px; width:300px;
	background-image: linear-gradient( to bottom right, #173266,black);
	padding: 20px;
	padding-left: 45px;
	padding-right: 25px;
	border-radius: 15px;
	box-shadow: 0px 1px 20px black;
}